extends "base.html"
- load wagtailcore_tags restaurant_tags

block content
  #menu.content-block.food-menu-block
    .form.block-inner.container
      .clear.text-center
        .block-content
          h2= page.title
          p= page.intro
          br

    {% section_placements page=page.id %}
