- load wagtailcore_tags restaurant_tags

.header
  .header-inner.container.clear
    a.logo(href='/')
      span.sr Lambda Logo
    input#navigation-toggle-checkbox.navigation-toggle-checkbox.sr(type='checkbox', name='navigation-toggle-checkbox')
    label.navigation-toggle-label(for='navigation-toggle-checkbox', onclick='')
      span.navigation-toggle-label-inner
        span.sr Navigation

    .navigation
      {% get_site_root as site_root %}
      {% top_menu parent=site_root calling_page=self %}

      ul.navigation-social
        li.navigation-item-social
          a.social.social-twitter(href='#')
            span.sr Twitter
        li.navigation-item-social
          a.social.social-facebook(href='#')
            span.sr Facebook
        li.navigation-item-social
          a.social.social-google-plus(href='#')
            span.sr Google Plus
