for placement in section_placements.all
  .food-menu-block-inner.container
    .clear
      .food-menu-content
        h2= placement.section.name
        for item in placement.section.menu_items.all
          ul.food-menu-list

            itemClass = ""
            if item.recommend
              itemClass = "food-menu-item-special"

            li.food-menu-item(class=(itemClass))
              .food-menu-item-header.clear
                h3.food-menu-heading= item.name
                span.food-menu-price= item.price
              .food-menu-summary
                p= item.description
